<div class="wrapper" >
  <div class="wrapped-div">
    <div class="tab-header">
      <h2 routerLink='/user/login' routerLinkActive='active'>Sing In</h2>
      <h2 routerLink='/user/registration' routerLinkActive='active'>Sing Up</h2>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <img src="/assets/image/cat.jpg" width="70%" class="mx-auto d-block">

          <form #loginForm="ngForm" [formGroup]="formModel" class="lmb-4" autocomplete="off" (submit)="onSubmit()">

            <div class="form-group required">

              <label>Email</label>
              <input class="form-control" type="email" placeholder="Email" formControlName="email">
              <label class="text-danger" *ngIf="formControls.email.touched && formControls.email.errors?.required">Email is
                required</label>
              <label class="text-danger" *ngIf="formControls.email.touched && formControls.email.errors?.email">Email is
                invalid</label>
            </div>

            <div class="form-group required">
              <label>Password</label>
              <input class="form-control" type="password" placeholder="Password" formControlName="password">
              <label class="text-danger" *ngIf="formControls.password.touched && formControls.password.errors?.required">Password
                is required</label>
              <label class="text-danger" *ngIf="formControls.password.touched && formControls.password.errors?.minLength">Password
                is invalid, min lenght is 4</label>
            </div>

            <label class="text-danger" *ngIf="isLoginFailed()" (click)="openPasswordRecovery()" routerLinkActive='active'>Forgot password?</label>

            <div class="form-row">
              <div class="form-group col-md-8 offset-md-2">
                <button type="submit" class="btn btn-lg btn-block" [disabled]="!loginForm.valid">Login</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

