
    <div class="activeModal">
    <div class="modal-header">
        <h4 class="color-text">Checkout</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <table class="table table-hover table-dark " >
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                  </th>
                  <th scope="col">Quantity
                    </th>
                  <th scope="col">Price
                  </th>
                  <th scope="col">The amount</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of list; let i = index" >
                  <td >
                    <div>
                        <img src={{product.printingEditionImage}} alt={{product.printingEditionTitle}} width="60%">
                    </div>
                    
                  </td>
                  <td>{{product.printingEditionTitle}}</td>
                  <td>
                    
                      <div class="def-number-input number-input safari_only">
                          <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus" (click) = "setMinusProductQuantity(product)"></button>
                          <input class="quantity" min="0" name="quantity" value="{{getProductQuantity(product)}}" type="number">
                          <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus" (click) = "setPlusProductQuantity(product)"></button>
                        </div>
                  </td>
                  <td>{{product.printingEditionPrice | number : '1.2-2'}}</td>
                  <td>{{getAmount(product) | number : '1.2-2'}}</td>
                  <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-link" (click)="delete(product)"><img src="/assets/image/trash.png"></button>
                        </div>
                  </td>
                </tr>      
              </tbody>
            </table>
            <div style="color: darkgray; text-align: right;" ><h5>Total price: {{getTotalPrice() | number : '1.2-2'}}</h5></div>
        <div class="modal-footer">
          
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Close</button>
              <button type="button" class="btn btn-primary" (click) = "onSave()">Pay {{getTotalPrice() | number : '1.2-2'}}</button>
            </div>
    
      </div>
    </div>


 
    
    
