<div class="activeModal">
        <div class="modal-content">
    
    <div class="modal-header">
        <h4 class="color-text">Create printing edition</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">


        <form class="form-horizontal" id="add-form" [formGroup]="printingEdition">                
              
          <div class="form-group col-sm-10"> 
            <span class="ui-fluid custom-field border form-control">
              <p-autoComplete [(ngModel)]="authorsList" [suggestions]="authors" (completeMethod)="search($event)" styleClass="wid100"
                  [minLength]="1" placeholder="Author" field="fullName" [multiple]="true" formControlName="Author">
              </p-autoComplete>
          </span>
        </div>   
          
                 <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" formControlName="TitleName" />
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                          <textarea class="form-control" formControlName="Description"></textarea>
                        </div>
                      </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label">Image URL</label>
                          <div class="col-sm-10">
                            <input type="url" class="form-control" formControlName="ImageUrl" />
                          </div>
                        </div>

                      <div class="form-group">
                          <label class="col-sm-2 control-label">Type</label>
                          <div class="col-sm-10">
                              <select class="form-control" formControlName="Type" [(ngModel)] = "type">
                              <option [value]="null">Select type</option>
                              <option [value]="printtype.Magazine">{{printType[0]}}</option>
                              <option [value]="printtype.Book">{{printType[1]}}</option>
                              <option [value]="printtype.NewsPaper">{{printType[2]}}</option>
                              </select>
                          </div>                        
                      </div>
                   

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status</label>
                            <div class="col-sm-10">
                                
                                <select class="form-control" formControlName="Status" [(ngModel)] = "status">
                                <option [value]="null">Select status</option>              
                                <option [value]="printEnumStatus.UnderTheOrder">{{printStatusString[0]}}</option>
                                <option [value]="printEnumStatus.Available">{{printStatusString[1]}}</option>
                                <option [value]="printEnumStatus.NotAvailable">{{printStatusString[2]}}</option>                
                                </select>
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Currency</label>
                            <div class="col-sm-10">
                                <select class="form-control" formControlName="Currency">
                                    <option [value]="null">Select currency</option>
                                    <option *ngFor="let item of currencies" [value]="item.id">{{item.currencyName}}</option>
                                </select>
                            </div>
                        </div>
                        
                       

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Price</label>
                            <div class="col-sm-10">
                                    <input type="text" class="form-control" formControlName="Price" />
                                
                            </div>
                        </div>  
            </form>
    
        <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Close</button>
              <button type="button" class="btn btn-primary" (click) = "onPostFormSubmit()">Save</button>
            </div>
    
      </div>
        </div>
    </div>
