<div class="row">
  <div class="col s6 offset-s3">
    <div class="card text-center">
      <div>
        <img src="/assets/image/privacy.png" style="height:300px;width:300px;">
      </div>
      <div class="card-content">
        <span class="card-title" style="color:darkcyan">
          ACCESS DINIED
        </span>
        <p>You don't have the permission to access this resource</p>
      </div>
    </div>
  </div>
</div>
