<div class="activeModal">
    <div class="modal-content">

<div class="modal-header">
    <h4 class="color-text">Edit printing edition</h4>
    <button type="button" class="close" data-dismiss="modal" (click)="onClose()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">


    <form class="form-horizontal" id="add-form">                
          
      <div class="form-group col-sm-10"> 
        <span class="ui-fluid custom-field border form-control">
          <p-autoComplete  [suggestions]="authors" (completeMethod)="search($event)" styleClass="wid100"
              [minLength]="1" placeholder="Author" field="fullName" [multiple]="true" [(ngModel)]="printingEdition.AuthorsList" [ngModelOptions]="{standalone: true}">
          </p-autoComplete>
      </span>
    </div>   
      
             <div class="form-group">
                    <label class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" [(ngModel)]="printingEdition.TitleName" [ngModelOptions]="{standalone: true}" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" [(ngModel)]="printingEdition.Description" [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                  </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">Image URL</label>
                      <div class="col-sm-10">
                        <input type="url" class="form-control" [(ngModel)]="printingEdition.ImageUrl" [ngModelOptions]="{standalone: true}"/>
                      </div>
                    </div>

                  <div class="form-group">
                      <label class="col-sm-2 control-label">Type</label>
                      <div class="col-sm-10">
                          <select class="form-control" [(ngModel)]="printingEdition.Type" [ngModelOptions]="{standalone: true}">
                          <option [value]="null">Select type</option>
                          <option [value]="printtype.Magazine">{{printType[0]}}</option>
                          <option [value]="printtype.Book">{{printType[1]}}</option>
                          <option [value]="printtype.NewsPaper">{{printType[2]}}</option>
                          </select>
                      </div>                        
                  </div>
               

                <div class="form-group">
                    <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-10">
                            
                            <select class="form-control" [(ngModel)]="printingEdition.Status" [ngModelOptions]="{standalone: true}">
                            <option [value]="null">Select status</option>              
                            <option [value]="printEnumStatus.UnderTheOrder">{{printStatusString[0]}}</option>
                            <option [value]="printEnumStatus.Available">{{printStatusString[1]}}</option>
                            <option [value]="printEnumStatus.NotAvailable">{{printStatusString[2]}}</option>                
                            </select>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Currency</label>
                        <div class="col-sm-10">
                            <select class="form-control" [(ngModel)]="printingEdition.CurrencyId" [ngModelOptions]="{standalone: true}">
                                <option [value]="printingEdition.CurrencyName">{{printingEdition.CurrencyName}}</option>
                                <option *ngFor="let item of currencies" [value]="item.id">{{item.currencyName}}</option>
                            </select>
                        </div>
                    </div>
                    
                   

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Price</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" [(ngModel)]="printingEdition.Price" [ngModelOptions]="{standalone: true}"/>
                            
                        </div>
                    </div>  
        </form>

    <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Close</button>
          <button type="button" class="btn btn-primary" (click) = "onPostFormSubmit()">Save</button>
        </div>

  </div>
    </div>
</div>

