<nav class="navbar navbar-dark shadow mb-4 bg-info sticky-top">
  <a class="navbar-brand text-white">Account profile</a>
  <a class="navbar-brand text-white" routerLink="/user/edit">Edit profile</a>
  <a class="navbar-brand text-white" routerLink="/adminpanel/getusers">Admin panel</a>
 
</nav>

<div class="row">

    <div class="col-3">
        <div class="card m-5" style="width: 18rem" *ngIf = "userDetails">
            <ul class="list-group">
              <li class="list-group-item"><strong>Email: </strong>{{userDetails.email}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item"><strong>Role: </strong>{{userDetails.roleName}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item"><strong>First name: </strong>{{userDetails.firstName}}</li>
            </ul>
            <ul class="list-group">
              <li class="list-group-item"><strong>Last name: </strong>{{userDetails.lastName}}</li>
            </ul>
          </div>
    </div>    
      
    <div class="col-9">
        <div class="mx-auto my">
          <h4>My orders: </h4>
          <br>
            <div class="row h-100 justify-content-center align-items-center">
          <table class="table table-hover table-dark" >
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Order </th>
                <th scope="col"> Order time</th>
                <th scope="col">Product</th>
                <th scope="col">Title</th>
                <th scope="col">Order amount</th>
                <th scope="col">Order status</th>
                <th scope="col" style="align-content: center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of ordersList; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{order.orderId}}</td>
                <td>{{order.dateTime | date: 'medium'}}</td>
                <td>
                    <tr *ngFor="let productType of order.products">
                        {{getType(productType.type)}}
                    </tr> 
                </td>
                <td>
                    <tr *ngFor="let name of order.products">
                        {{name.nameEdition}}
                    </tr>       
                </td>
                <td>{{order.orderAmount | number: '1.2-2'}}</td>
                <td *ngIf="order.orderStatus">Paid</td>
                <td *ngIf="!order.orderStatus">Not paid</td>  
                <td>          
                    <div class="btn-group" role="group">
                        <button class="btn btn-link" (click)="delete(order)"><img src="/assets/image/trash.png"></button>
                      </div>
                    </td>  
              </tr>      
            </tbody>
          </table>
            </div>
          </div>
    </div>
      

</div>

  
