


body{
    background-color: #f5f6f8;
    width: 100%;
    padding-bottom: 70px;
}

input.form-control,input.form-control:focus{
    background-color: #e6e9ee;
    
    border: 1px solid #e6e9ee;

}
.jumbotron {
  margin-bottom: 0;
}
textarea.form-control {
  height: auto;
  background-color: #e6e9ee;    
  border: 1px solid #e6e9ee;
}

select.form-control {
  background-color: #e6e9ee;    
  border: 1px solid #e6e9ee;
}

span.form-control {
  background-color: #e6e9ee;    
  border: 1px solid #e6e9ee;
}

.modal-content
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color:  #3a4147;
}

.color-text{
  color: #fff
}

.float-div{
  position: absolute;
  right: 100px;  
}


.my{
    width: 90%!important;
  }

input.form-control:focus{
    box-shadow: none;
}

button[type=submit].btn{
    border-radius: 20px;
    background-color: #04c582;
    color: #fff;
}

div.form-group label:not(.text-danger){
    color: #545d6a;
    font-weight: 700;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: #fff;
    padding-left: 5px;
}

#toast-container > div {
    opacity:1;
}
.modal .activeModal{
  background: #343a40;
  width: 130%;
}
.border .ui-autocomplete-multiple-container{
  border-radius: 5px; 
  border-color: whitesmoke;
  display: flex;
  list-style: none;
  padding: inherit;
  margin: inherit ;
}
.flex-container {
  display: flex;
}
.custom-field-container{
  border: none;
  background: none;
  padding: 0.2145em 0.429em;
}

.custom-field-token-icon {
  margin-top: -.5em;
  position: absolute;
  right: .2em;
  top: 50%;
  cursor: pointer;
}

.fluid .p-autocomplete{
  width: 100%;
}
.fa.fa-sort{
  position: absolute;
  right: 0px;
  top: 50%;
  left: auto;
}
.table thead th {
  vertical-align: middle;
}
.price.btn.btn-secondary{
  padding-right: 30px;
}
.price.btn.btn-dark {
  padding-right: 30px;
  font-weight: bold;
}

li.ui-autocomplete-token:not(.ui-autocomplete-token-icon){
   font-size: 15px;
    padding: 0.2145em 0.429em;
    margin: 0 0.286em 0 0;
    background: #545d6a;
    color: #ffffff;
    border-radius: 3px;    
    cursor: default;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: .125em .5em;
    white-space: nowrap;
    position: relative;
    margin-right: .125em;
    border: 0;
}

.border .ui-autocomplete-input-token input{
  border: none;
  background: none;
}

.custom-field ul{
  background-color: none;
}

.col-sm-10{
  flex: 0 0 83.333333%;
  max-width: initial;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .wrapped-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #060607f1;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  }

  /* Tabs */
.tab-header{
    text-align: center;
}

  .tab-header h2.active {
    color: #fff;
    border-bottom: 4px solid #fff;
  }
  

  .tab-header h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display:inline-block;
    padding: 30px 40px 10px 40px;
    cursor: pointer;
    color: #545d6a;
    border-bottom: 2px solid #545d6a;
  }

  .tab-header h2:focus {
      outline: none;
  }

  .space{
    justify-content: space-between;
}
  form{
      margin: 0px 0px;
  }
  
 div.form-group input.invalid{
    border: 1px solid #dc3545; 
 }
 div.form-group label:first-child{
    text-transform: uppercase;
    font-size: 0.9rem;
 }

.btn{
  position: relative;
}

 .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
 }

 .form-control{
  height: auto;
 }
 .form-control ul{
   background-color: none;
 }


 .search-holder{
  display: flex;
  align-items: center;

 }
 .search {
  width: 100px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  background: none;
  color: #e6e9ee;
  background-image: url(/assets/image/search.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 10px 20px 5px 40px;
  transition: width 0.4s ease-in-out;
}

.search:focus {
  width: auto;
}

.display-center{
  display: block;
    margin-left: auto;
    margin-right: auto
}


.breadcrumb {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: initial;
  list-style: none;
  background-color: initial;
  border-radius: 0.25rem;
}

.dropup, .dropright, .dropdown, .dropleft {
  position: relative;
}

.list-inline-item {
  vertical-align: middle;
}

:target:before { 
  display: block; 
  content: " "; 
  margin-top: -70px; 
  height: 70px; 
  visibility: hidden; 
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-expand-sm{
  justify-content: space-between;

}