<div class="activeModal">
        <div class="modal-content">
    
    <div class="modal-header">
        <h4 class="color-text">Create author</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="onClose()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" >
            <div class="form-group">
              <label>First name:</label>          
              <input class="form-control" [(ngModel)]="author.FirstName" [ngModelOptions]="{standalone: true}" type="text">
            </div>
    
            <div class="form-group">
                <label>Last name:</label>
                <input class="form-control" [(ngModel)]="author.LastName" [ngModelOptions]="{standalone: true}" type="text">
            </div>
            
        </form>    
    
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onClose()">Close</button>
            <button type="button" class="btn btn-primary" (click) = "saveAuthor()">Save</button>

            </div>
    
      </div>
        </div>
    </div>
