
     <div class="wrapper" >
        <img src="/assets/image/email.png" class="rounded mx-auto d-block">
        <h4 class="text-center font-weight-bold"> You need to confim email, please click the button</h4>

        <div class="form-row text-center">
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg" (click) = "onConfirm()">Confirm</button>
          </div>
        </div>
     </div>


