<div class="wrapper" >
        <img src="/assets/image/email.png" class="rounded mx-auto d-block">
        <h4 class="text-center font-weight-bold"> Reset password?</h4>

        <div class="form-row text-center">
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg" (click) = "onReset()">Reset</button>
          </div>
          <div class="form-group col-md-8 offset-md-2">
                <button type="submit" class="btn btn-lg" routerLink='/user/login' routerLinkActive='active'>Cancel</button>
              </div>
        </div>
     </div>
