

<div class="container h-100">     
  <div class="row h-100 justify-content-center align-items-center">
<table class="table table-hover table-dark " >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">
        <button type="button" class="btn btn-dark price" (click)="sortByName(sortFirstName)">First name <i
          class="fa fa-sort"></i></button>

      </th>
      <th scope="col">
          <button type="button" class="btn btn-dark price" (click)="sortByName(sortLastName)">Last name <i
            class="fa fa-sort"></i></button>
        </th>
      <th scope="col">
        
        <form (submit)="search()" class="search-holder">
            Full Name <input class="search" type="text" name="search" [(ngModel)]="authorSearchString" />
            <button type="submit" style="display:none">hidden submit</button>
          </form>
      </th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let author of authorsList; let i = index" >
      <th scope="row">{{i + 1}}</th>
      <td>{{author.firstName}}</td>
      <td>{{author.lastName}}</td>
      <td>{{author.fullName}}</td>
      <td>
          <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-link" (click)="openEditModal(author)" ><img src="/assets/image/edit.png"></button>
              <button type="button" class="btn btn-link" (click)="delete(author)"><img src="/assets/image/trash.png"></button>
            </div>
      </td>
    </tr>      
  </tbody>
</table>
</div>
</div>

<div class="float-div">
    <label>Add author:</label>  
    <button type="button" class="btn btn-link" (click)="openCreateModal()" ><img src="/assets/image/add-user.png"></button>
</div>


<!-- Modal -->
