


<div class="mx-auto my">

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col" style="width: 15%">

          <form (submit)="search()" class="search-holder">
            Title <input class="search" type="text" name="search" [(ngModel)]="searchGroup.titleSearchString">
          </form>
        </th>
        <th scope="col" style="width: 15%">
          <form (submit)="search()" class="search-holder">
            Author <input class="search" type="text" name="search" [(ngModel)]="searchGroup.authorSearchString" />
            <button type="submit" style="display:none">hidden submit</button>
          </form>
        </th>
        <th scope="col" style="width: 40%" >
          <form (submit)="search()" class="search-holder">
            Description <input class="search" type="text" name="search"
              [(ngModel)]="searchGroup.descriptionSearchString">
          </form>

        </th>
        <th scope="col">
            <div class="dropdown">
                <button class="btn btn-dark price dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Status
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="filterByStatus(printStatus.UnderTheOrder)">Under the order</a>
                    <a class="dropdown-item" (click)="filterByStatus(printStatus.Available)">Available</a>
                    <a class="dropdown-item" (click)="filterByStatus(printStatus.NotAvailable)">Exclude not
                        available</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="ngOnInit()">Default</a>
                </div>
              </div>

        </th>
        <th scope="col">
            <div class="dropdown">
                <button class="btn btn-dark price dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Type
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="filterByType(printType.Magazine)">Magazine</a>
                    <a class="dropdown-item" (click)="filterByType(printType.NewsPaper)">Newspaper</a>
                    <a class="dropdown-item" (click)="filterByType(printType.Book)">Book</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="ngOnInit()">Default</a>
                </div>
              </div>
        </th>
        <th scope="col" style="width: 10%" >
          <button type="button" class="price btn btn-dark" (click)="onSort()">Price <i
              class="fa fa-sort"></i></button>

        </th>
        <th scope="col">

            <div class="dropdown">
                <button class="btn btn-dark price dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Currency
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" *ngFor = "let item of currencies; let i = index" (click)="convertToCurrency(item.currencyName)">{{item.currencyName}}</a>
                </div>
              </div>


        </th>
        <th scope="col" style="align-content: center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let printingEdition of printingEditions; let i = index">
        <td>{{printingEdition.printingEditionTitle}}</td>
        <td>
      <tr *ngFor="let author of printingEdition.authorsList">
        {{author.fullName}}
      </tr>
      </td>
      <td>{{printingEdition.prtintingEditionDescription}}</td>
      <td>{{getStatus(printingEdition.printingEditionStatus)}}</td>
      <td>{{getType(printingEdition.prtintingEditionType)}}</td>
      <td>{{printingEdition.printingEditionPrice | number: '1.2-2'}}</td>
      <td>{{printingEdition.currencyName}}</td>
      <td>

        <div class="btn-group" role="group">
          <button class="btn btn-link" (click)="openEditModal(printingEdition)"><img src="/assets/image/edit.png"></button>
          <button class="btn btn-link" (click)="delete(printingEdition)"><img src="/assets/image/trash.png"></button>
        </div>

      </td>
      </tr>


    </tbody>
  </table>
</div>

<div class="float-div">
  <label>Add printing edition:</label>
  <button type="button" class="btn btn-link" (click)="!!addNewPost()"><img src="/assets/image/plus.png"></button>

  <nav aria-label="..." class="pagination-nav">
    <ul class="pagination">
      <div *ngIf="ifPreviousDisabled(); then getPrevious else unsetPrevious"></div>
      <ng-template #getPrevious>
          <li class="page-item disabled" ><a class="page-link" style="color: gray;" aria-disabled="true">Previous</a></li>
      </ng-template>
      <ng-template #unsetPrevious>
          <li class="page-item" ><a class="page-link" style="color: black;" (click) = "paginationPrevious()">Previous</a></li>
      </ng-template>

      <div *ngIf="ifNextDisabled();then getNext else unsetNext"></div>
      <ng-template #getNext>
          <li class="page-item disabled" ><a class="page-link" style="color:gray;" aria-disabled="true">Next</a></li>
      </ng-template>
      <ng-template #unsetNext>
          <li class="page-item" ><a class="page-link" style="color: black;" (click) = "paginationNext()">Next</a></li>
      </ng-template>

    </ul>
  </nav>
</div>
