<header>
      <div class="jumbotron">
            <div class="container text-center">

                  <img src="/assets/image/wind.png" routerLink='/store/all'>
                  <h3> Printing edition store </h3>
                  
            </div>
      </div>
      <app-nav-menu></app-nav-menu>
</header>
<main>
      <router-outlet></router-outlet>
</main>
<footer>
      
  <div class="jumbotron text-center" style="margin-bottom:0">
            <p>Footer</p>
          </div>
</footer>
