<nav class="navbar navbar-dark shadow mb-4 bg-info sticky-top">
    <a class="navbar-brand text-white">Edit profile</a>
    </nav>

<div class="wrapper">

    <form class="edit" style="width: 70%" (submit)="onSave(!!form)">
      <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" [(ngModel)]="formModel.Email" [ngModelOptions]="{standalone: true}" >
        </div>
        <div class="form-group">
          <label>First name</label>
          <input type="text" class="form-control" [(ngModel)]="formModel.FirstName" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input type="text" class="form-control" [(ngModel)]="formModel.LastName" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-block">Save profile changes</button>
      </div>
    </div>

  </form>

  <form  class="edit" style="width: 70%" [formGroup]="formPasswords" autocomplete="off" (submit)="onPasswordSave()">

    <div class="form-group">
      <label>Old password</label>
      <input class="form-control" formControlName="OldPassword">
    </div>

      <div class="form-group">
        <label>New password</label>
        <input class="form-control" formControlName="NewPassword">
        <label class="text-danger" *ngIf="formPasswords.get('NewPassword').touched && !!formPasswords.get('NewPassword').errors?.passwordMismatch">Passwords does not match.</label>
    </div>
    <div class="form-group">
      <label>Confirm new password</label>
      <input class="form-control" formControlName="ConfirmNewPassword">
      <label class="text-danger" *ngIf="formPasswords.get('ConfirmNewPassword').touched && !!formPasswords.get('ConfirmNewPassword').errors?.passwordMismatch">Passwords does not match.</label>
  </div>

    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-block" [disabled]="!formPasswords.valid">Save new password</button>
      </div>
    </div>
  </form>




</div>
