
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
     
        <ul class="navbar-nav ">
            <li class="navbar-brand">Products list</li>  
            
          </ul>
        
        <div class="d-flex"> 
            
             <div *ngIf = "!isLogged()">
              <button class="btn btn-link my-2 my-sm-0" style="color: rgba(255,255,255,.5)" routerLink='/user/login'> Login  <img src="/assets/image/user.png">
              </button>
             </div>
                <div *ngIf = "isLogged()">
                  <button class="btn btn-link my-2 my-sm-0" style="color: rgba(255,255,255,.5)" routerLink='/home'> Home page  <img src="/assets/image/home.png">
                  </button>
                  <button class="btn btn-link my-2 my-sm-0" (click) = "checkout()"><img src="/assets/image/shopping-cart.png"></button>
                  <button class="btn btn-danger my-2 my-sm-0" (click) = "onLogout()">Logout</button>
                </div>
              
        </div>
        
      </nav>
