
     
      <div class="container" style="margin-top:30px">
                  <div class="row" >
                      <h2 class="col-sm-12">About printing edition</h2>
                    <div class="col-sm-4">
                      
                      <h5>Image:</h5>
                      <div class="fakeimg">
                              <img src="{{printingEdition.printingEditionImage}}" alt="{{printingEdition.printingEditionTitle}}" class="img-thumbnail">
                      </div>
                      
                           
                      <hr class="d-sm-none">
                    </div>
                    <div class="col-sm-8">
                      <h2>Description</h2>
                      <p>{{printingEdition.prtintingEditionDescription}}</p>
                      <br>
                      <br>
                      <h3>Created by: </h3>                      
                      <ul  *ngFor="let author of printingEdition.authorsList">
                              <li>
                                  <p class="card-text text">
                                       {{author.fullName}}
                                  </p>
                              </li>
                                 
                          </ul>        
                      <strong>
                              <p [style.color]="getColor(printingEdition.PrintingEditionStatus)">{{getStatus(printingEdition.printingEditionStatus)}}</p>
                           </strong>
                      <h4>Cost: </h4>

                      <li class="d-flex">
                              <p>{{printingEdition.printingEditionPrice | number : '1.2-2'}} {{printingEdition.currencyName}}</p>  
                              
                            </li>
                            
                      <button class="btn btn-link" (click)="addToBasket(printingEdition)">Add to
                              basket  <img src="/assets/image/shopping-cart.png"></button>
                      
                    </div>
                  </div>
                </div>
    