
<div class="mx-auto my">
  <div class="row h-100 justify-content-center align-items-center">
<table class="table table-hover table-dark" >
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">
          <button type="button" class="price btn btn-dark" (click)="orderNumberSort()"><strong>Order</strong><i class="fa fa-sort"></i></button> 
       </th>
      <th scope="col">
         <button type="button" class="price btn btn-dark" (click)="orderTimeSort()"><strong>Order time</strong> <i class="fa fa-sort"></i></button>      
      
      </th>
      <th scope="col">User name</th>
      <th scope="col">User email</th>
      <th scope="col">Product</th>
      <th scope="col">Title</th>
      <th scope="col">Order amount</th>
      <th scope="col">
          <div class="dropdown">
              <button class="btn btn-dark price dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Order status
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="filterByOrderStatusPaid()">Paid</a>
                  <a class="dropdown-item" (click)="filterByOrderStatusNotPaid()">Not paid</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="ngOnInit()">Default</a>
              </div>
            </div>
         
        </th>
      <th scope="col" style="align-content: center">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of ordersList; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{order.orderId}}</td>
      <td>{{order.dateTime | date: 'medium'}}</td>
      <td>{{order.userName}}</td>
      <td>{{order.email}}</td>
      <td>
          <tr *ngFor="let productType of order.products">
              {{getType(productType.type)}}
          </tr> 
      </td>
      <td>
          <tr *ngFor="let name of order.products">
              {{name.nameEdition}}
          </tr>       
      </td>
      <td>{{order.orderAmount | number: '1.2-2'}}</td>
      <td *ngIf="order.orderStatus">Paid</td>
      <td *ngIf="!order.orderStatus">Not paid</td>  
      <td>
          <div class="btn-group" role="group">
              <button class="btn btn-link" (click)="delete(order)"><img src="/assets/image/trash.png"></button>
            </div>  
        </td>      
    </tr>      
  </tbody>
</table>
  </div>
</div>
