.img-holder{
    max-width: 210px;
    margin: 0 auto;
}

.img-holder img{
 width: 100%;
}

.box {
    overflow: hidden;
    height: 200px;
    width: inherit;
    line-height: 25px;
}

.box:before {
    content: "";
    float: left;
    width: 5px;
    height: 200px;
}

.box > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}		
.jumbotron {
    margin-bottom: 0;
  }
.box:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%; 
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;	
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}
.padding{
    padding-left: 20px;
}
.navbar{
    padding-left: 20px;
}
.card-body ul p{
    margin: 5px;
}

.fa.fa-sort{
    color:rgba(255,255,255,.5);
    margin: 2px;
}

.position {
    padding-right: 10px;

    position: relative;
}
.card-body ul li p{
    margin-bottom: 15px;
    margin-top: 12px;
}
.card-body ul{
    list-style: none;
    padding: initial;
    margin-top: 20px;
}

