

  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
<table class="table table-hover table-dark" >
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">
            <button type="button" class="btn btn-dark price" (click)="sortByName(sortFirstName)">First name <i
              class="fa fa-sort"></i></button>    
          </th>
          <th scope="col">
              <button type="button" class="btn btn-dark price" (click)="sortByName(sortLastName)">Last name <i
                class="fa fa-sort"></i></button>
            </th>
        <th scope="col">Role</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let user of usersList; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.email}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.roleName}}</td>
        <td>
          <button type="button" class="btn btn-link" title="Edit" (click)="openEditModal(user)"><img src="/assets/image/edit.png"></button>
        </td>
        <td (click)="delete(user)" data-toggle="tooltip" title="Delete user"><img src="/assets/image/trash.png"></td>
      </tr>    
     
    </tbody>    
  </table>
 
</div>
</div>
<div class="float-div">
    <label>Add user:</label>  
    <button type="button" class="btn btn-link" (click)="openCreateModal()" ><img src="/assets/image/add-user.png"></button>
</div>

