

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #f1ebeb;
    background-color: #3b3d40;
}
.img-holder{
    max-width: 210px;
    margin: 0 auto;
}

.img-holder img{
 width: 100%;
}

.element-box-background{
    background-color: #343a40!important;
    
}

.text-style{
    text-align: center;
    color:  rgba(255, 255, 255, 0.801);
}

.element-box-background[_ngcontent-ykw-c2] a[_ngcontent-ykw-c2] {
    color: rgba(255, 255, 255, 0.801);
}

.dropdown-item{
    color: black !important;
}
.img-center {
    margin: auto;
    width: 30%;
}
a:not([href]):not([tabindex]) {
    color: rgba(255, 255, 255, 0.801);
    text-decoration: none;
}
.box {
    overflow: hidden;
    height: 200px;
    width: inherit;
    line-height: 25px;
}

.box:before {
    content: "";
    float: left;
    width: 5px;
    height: 200px;
}

.box > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}		
.jumbotron {
    margin-bottom: 0;
  }
.box:after {
    content: "\02026";
    box-sizing: content-box;
    float: right;
    position: relative;
    top: -25px;
    left: 100%; 
    width: 3em;
    margin-left: -3em;
    padding-right: 5px;	
    text-align: right;
    background-size: 100% 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
}

.ng5-slider-pointer:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 4px;
    background: #fff !important;
}

.ng5-slider-pointer {
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: -10px;
    background-color: #969c9e !important;
    z-index: 3;
    border-radius: 16px;
}
.padding{
    padding-left: 20px;
}
.navbar{
    padding-left: 20px;
}
.card-body ul p{
    margin: 5px;
}
.forslider{
    width: 350px;
}

.spinner{
    width: 50px;
}

.nav-link.p-spinner.ui-spinner-button{
    display: none;
}

.fa.fa-sort{
    color:rgba(255,255,255,.5);
    margin: 2px;
}

.position {
    padding-right: 10px;

    position: relative;
}
.card-body ul li p{
    margin-bottom: 15px;
    margin-top: 12px;
}
.card-body ul{
    list-style: none;
    padding: initial;
    margin-top: 20px;
}

.modal .modal-content {
    width: 150%;
}
.space{
    justify-content: space-between;
}

.pagination-nav{
    display: flex;
    justify-content: center;
}