
  <br>
 <div class="row">
      <div class="col-3 element-box-background">
        <div class="nav flex-column nav-pills sticky-top" role="tablist" aria-orientation="vertical">
          <div class="d-flex space">
              <a class="nav-link" data-toggle="pill" role="tab" >
                  <ul class="navbar-nav ">
                      <li class="navbar-brand">Filter by:</li>


                    </ul>
                  </a>
                  <form class="form-inline">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">@</span>
                      </div>
                      <input type="text" class="form-control" placeholder="Search product"  [(ngModel)]="searchGroup.titleSearchString" [ngModelOptions]="{standalone: true}">
                      <button type="submit" style="display:none" (click)="search()" >hidden submit</button>
                    </div>
                  </form>
          </div>

          <a class="nav-link" data-toggle="pill" role="tab" >

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                  Type
              </a>

              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="filterByType(printType.Magazine)">Magazine</a>
                  <a class="dropdown-item" (click)="filterByType(printType.NewsPaper)">Newspaper</a>
                  <a class="dropdown-item" (click)="filterByType(printType.Book)">Book</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="default()">Default</a>
                </div>
            </li>
          </a>

          <a class="nav-link" role="tab" >
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
                Status
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" (click)="filterByStatus(printStatus.UnderTheOrder)">Under the order</a>
                  <a class="dropdown-item" (click)="filterByStatus(printStatus.Available)">Available</a>
                  <a class="dropdown-item" (click)="filterByStatus(printStatus.NotAvailable)">Exclude not available</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="default()">Default</a>
                </div>

            </li>
          </a>
          <a class="nav-link" data-toggle="pill" role="tab" (click) = "sortByName()">
            <li class="nav-item position">
              <a class="nav-link" >Author <i class="fa fa-sort"></i></a>
              <i class="fa fa-sort"></i>
            </li>
          </a>
          <a class="nav-link" data-toggle="pill" role="tab"  >
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown">Choose currency </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item"  *ngFor = "let item of currencies; let i = index" (click)="convertToCurrency(item.currencyName)">{{item.currencyName}}</a>
              </div>
            </li>
          </a>
          <a class="nav-link" data-toggle="pill" role="tab" >

            <li class="nav-item position">
                <a class="nav-link" (click)="onSort()">Sort price <i class="fa fa-sort"></i></a>
                <i class="fa fa-sort"></i>
            </li>

          </a>
          <a class="nav-link" data-toggle="pill" role="tab"  >
            <li class="nav-item position">
                <a class="nav-link">Price range: </a>
                <div class="d-flex">
                  <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"> </ng5-slider>
                  <button type="button" class="btn btn-dark" (click) = "getPriceRange()">OK</button>
                </div>

            </li>
          </a>

        </div>
      </div>
      <div class="col-9">
        <div class="tab-content row">
            <div class="col-sm-6" *ngFor="let printingEdition of printingEditions; let i = index" >
                <div class="card mb-3" style="max-width: 540px;" >
                   <div class="row no-gutters">
                     <div class="col-md-4 img-holder">

                         <img src={{printingEdition.printingEditionImage}} alt={{printingEdition.printingEditionTitle}} (click) = "openProductItem(printingEdition)">
                         <strong>
                            <p [style.color]="getColor(printingEdition.printingEditionStatus)">{{getStatus(printingEdition.printingEditionStatus)}}</p>
                         </strong>
                     </div>
                     <div class="col-md-8">
                       <div class="card-body">
                           <h5 class="card-title">{{printingEdition.printingEditionTitle}}</h5>
                           <div class="box"><p class="card-text text">{{printingEdition.prtintingEditionDescription}}</p></div>

                           <ul *ngFor="let author of printingEdition.authorsList">
                               <p>Created by: </p>
                               <li>
                                   <p class="card-text text">
                                        {{author.fullName}}
                                   </p>
                               </li>
                                   <li class="d-flex">
                                     <p>{{printingEdition.printingEditionPrice | number : '1.2-2'}} {{printingEdition.currencyName}}</p>
                                     <div *ngIf = "service.isLogged()">
                                     <div *ngIf = "!getDisabled(printingEdition.printingEditionStatus)">
                                        <button class="btn btn-link" (click)="addToBasket(printingEdition)" data-toggle="modal" data-target="#exampleModalCenter">Add to
                                            basket  <img src="/assets/image/shopping-cart.png"></button>
                                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                  <div class="modal-content">
                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                      </button>
                                                    </div>
                                                    <div class="modal-body">
                                                    <div class = "img-center">
                                                        <img src="/assets/image/check.png">

                                                    </div>
                                                    <h5 class = "text-style">Product successfully added to basket</h5>

                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                     </div>
                                    </div>
                                    <div *ngIf = "!service.isLogged()">
                                      <button class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter"><img src="/assets/image/shopping-cart.black.png"></button>
                                      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                            </div>
                                            <div class="modal-body">
                                            <h5 class = "text-style">To buy a product you must be logged in </h5>

                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                   </li>
                           </ul>
                       </div>
                     </div>

                   </div>
                 </div>
               </div>
        </div>

        <nav aria-label="..." class="pagination-nav">
            <ul class="pagination">
              <div *ngIf="ifPreviousDisabled(); then getPrevious else unsetPrevious"></div>
              <ng-template #getPrevious>
                  <li class="page-item disabled" ><a class="page-link" style="color: gray;" aria-disabled="true">Previous</a></li>
              </ng-template>
              <ng-template #unsetPrevious>
                  <li class="page-item" ><a class="page-link" style="color: black;" (click) = "paginationPrevious()">Previous</a></li>
              </ng-template>

              <div *ngIf="ifNextDisabled();then getNext else unsetNext"></div>
              <ng-template #getNext>
                  <li class="page-item disabled" ><a class="page-link" style="color:gray;" aria-disabled="true">Next</a></li>
              </ng-template>
              <ng-template #unsetNext>
                  <li class="page-item" ><a class="page-link" style="color: black;" (click) = "paginationNext()">Next</a></li>
              </ng-template>

            </ul>
          </nav>
      </div>
    </div>



