<div class="wrapper" >
  <div class="wrapped-div">
    <div class="tab-header">
      <h2 routerLink='/user/login' routerLinkActive='active'>Sing In</h2>
      <h2 routerLink='/user/registration' routerLinkActive='active'>Sing Up</h2>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1">
          <img src="/assets/image/cat.jpg" width="70%" class="mx-auto d-block">
          <form #registrationForm="ngForm" [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
                <div class="form-group required">
                  <label>Email</label>
                  <label class="text-danger" *ngIf="service.formModel.get('Email').touched && !!service.formModel.get('Email').errors?.required">This field is mandatory.</label>
                  <label class="text-danger" *ngIf="service.formModel.get('Email').touched && !!service.formModel.get('Email').errors?.email">Invalid email adress.</label>
                  <input class="form-control" formControlName="Email">

                </div>
                <div formGroupName = "Passwords">
                  <div class="form-group required">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="Password" required minlength="4">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && !!service.formModel.get('Passwords.Password').errors?.minLength">Min lenght must be at least 4.</label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && !!service.formModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>

                  </div>
                  <div class="form-group required">
                    <label>Confirm password</label>
                    <input type="password" class="form-control" formControlName="PasswordConfirm">
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.PasswordConfirm').touched && !!service.formModel.get('Passwords.PasswordConfirm').errors?.required">This field is mandatory.</label>
                    <label class="text-danger" *ngIf="service.formModel.get('Passwords.PasswordConfirm').touched && !!service.formModel.get('Passwords.PasswordConfirm').errors?.passwordMismatch">Passwords does not match.</label>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-lg btn-block" [disabled]="!registrationForm.valid">Sign up</button>
                  </div>
                </div>
          </form>
      </div>
    </div>
  </div>
</div>







