
<nav class="navbar navbar-dark shadow mb-4 bg-info sticky-top">
    <a class="navbar-brand text-white" routerLink="/adminpanel/getusers" routerLinkActive='active'>Users</a>
    <a class="navbar-brand text-white" routerLink="/adminpanel/authors" routerLinkActive='active'>Authors</a>
    <a class="navbar-brand text-white" routerLink="/adminpanel/printingEditions" routerLinkActive='active'>Printing editions</a>
    <a class="navbar-brand text-white" routerLink="/adminpanel/orders" routerLinkActive='active'>Orders</a>
  </nav>

  <router-outlet></router-outlet>
 